[MAIN]
jobs=1
[MASTER]
disable=
    C0114,
    W0012


[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring
        wrong-import-order
        invalid-name

[FORMAT]
ignore-patterns=src/tests/*