<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/form.css">
    <title>Reference app</title>
</head>
<body>
    <h1>Add reference from DOI </h1>
    <form action="{{ url_for('references.generate_reference_from_doi') }}" method="POST">
        DOI: <input type="text" name="doi" required>
        <input type="submit" name="action" value="Add reference" class="linkstyle">
        <a href="{{ url_for('users.render_home') }}" class="linkstyle">Back to home page</a>
    </form>


</body>
</html>