<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/edit.css">
    <title>Reference app</title>
</head>

<body>

    <div class="beginning">
        <p>Here you can edit or delete your citation</p>
    </div>


    <a href="/delete_reference" class="linkstyle">Delete</a>


    {{ author }}, {{ title }}, {{ book_title }}, {{ journal }},{{ year }},{{ volume }},{{ pages }}, {{ publisher }}
</body>

</html>