<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/edit.css">
    <title>Reference app</title>
</head>

<body>

    <div class="beginning">
        <p>Here you can edit or delete your citation</p>
    </div>

    <p>
        Author: <textarea name="name" rows="1" cols="30" required></textarea>
        Title: <textarea name="title" rows="1" cols="30" required></textarea>
        Booktitle: <textarea name="book_title" rows="1" cols="30" required></textarea>
        Journal: <textarea name="journal" rows="1" cols="30" required></textarea>
        Year: <textarea name="year" rows="1" cols="30" required></textarea>
        Volume: <textarea name="volme" rows="1" cols="30" required></textarea>
        Pages: <textarea name="pages" rows="1" cols="30" required></textarea>
        Publisher: <textarea name="publisher" rows="1" cols="30" required></textarea>
    </p>

    <input type="submit" value="Submit">


    <a href="/delete_reference" class="linkstyle">Delete</a>

</body>

</html>