<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/form.css">
    <title>Reference app</title>
</head>

<body>


    <div class="reference">
        <form action="/new_reference" method="POST">
            <p>Type:
                <select name="ra" onchange="this.form.submit()">
                    <option value="Article" {% if selected_type == 'Article' %}selected{% endif %}>Article</option>
                    <option value="Book" {% if selected_type == 'Book' %}selected{% endif %}>Book</option>
                    <option value="Inproceedings" {% if selected_type == 'Inproceedings' %}selected{% endif %}>Inproceedings</option>
                </select>
            </p>
        </form>


        <!-- Tietojen lähettämislomake -->
        <form action="/form" method="POST">
            <!-- Tässä näytetään kentät valitun tyypin mukaan -->
            {% if selected_type == 'Book' %}
                <!-- Book kentät -->
                Author: <input type="text" name="author" required>
                Title: <input type="text" name="title" required>
                Publisher: <input type="text" name="publisher" required>
                Year: <input type="number" name="year" required>
                Volume: <input type="text" name="volume" required>
                Series: <input type="text" name="series" required>
                Address: <input type="text" name="address" required>
                Edition: <input type="text" name="edition" required>
                Month: <input type="text" name="month" required>
                Note: <input type="text" name="note" required>
                Key: <input type="text" name="key" required>
                URL: <input type="text" name="url" required>
            {% elif selected_type == 'Inproceedings' %}
                <!-- Inproceedings kentät -->
                Author: <input type="text" name="author" required>
                Title: <input type="text" name="title" required>
                Booktitle: <input type="text" name="booktitle" required>
                Year: <input type="number" name="year" required>
                Editor: <input type="text" name="editor">
                Volume: <input type="text" name="volume">
                Series: <input type="text" name="series">
                Pages: <input type="text" name="pages">
                Address: <input type="text" name="address">
                Month: <input type="text" name="month">
                Organization: <input type="text" name="organization">
                Publisher: <input type="text" name="publisher">
                Note: <input type="text" name="note">
                Key: <input type="text" name="key">
            {% else %}
                <!-- Article kentät -->
                Author: <input type="text" name="author" required>
                Title: <input type="text" name="title" required>
                Journal: <input type="text" name="journal" required>
                Year: <input type="number" name="year" required>
                Volume: <input type="text" name="volume" required>
                Number: <input type="text" name="number" >
                Pages: <input type="text" name="pages" >
                Month: <input type="text" name="month">
                DOI: <input type="text" name="doi" >
                Note: <input type="text" name="note">
                Key: <input type="text" name="key">

            {% endif %}

            <input type="submit" value="Submit">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>

    </div>

</body>

</html>