<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>insert title here</title>
</head>

<body>
    <h2>Welcome!</h2>

    <div class="start">
        <b> Click a reference or add one!</b>
    </div>

    <div class="mainview">
        <div class="reference_list">
            <br>
            <a href="/new_reference" class="linkstyle">Add</a>
            <br>

            <ul>
                <p>Reference list:</p>
                {% for i in reference_name %}
                <a href="/headings?name={{ i }}&thereference={{ i }}" class="linkstyle" style=display:flex;
                    flex-direction:column;>{{ i }}</a>
                {% endfor %}
            </ul>
        </div>


        <div class="refernece_view">
            {% if info is defined %}
            {% for i in info %}
            <p><b>Author:</b> {{ i[1] }} </p>
            {% endfor %}
            {% endif %}
        </div>

</body>

</html>