<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Reference app</title>
</head>

<body>

    <div class="beginning">
        <h1>Viitevarasto</h1>
        {% if session.username %}
        <h2>Welcome! {{ session.username }}</h2>
    </b>
    </div>

    <div class="link-container">
        <a href="{{ url_for('references.render_add_reference_form') }}" class="linkstyle">Add</a>
        <a href="{{ url_for('references.export_bibtex') }}" class="linkstyle">Export BibTeX</a>
        <form action="/logout" method="post">
            <input type="submit" value="Logout" class="linkstyle">
        </form>
        <a href="{{ url_for('references.render_doi_page') }}" class="linkstyle">Add DOI</a>
        <a href="/delete_all" class="linkstyle">Delete all references</a>
    </div>

    <h2>Table of references</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Type</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for reference in references %}
                <tr>
                    <td>{{ reference.author }}</td>
                    <td>{{ reference.title }}</td>
                    <td>{{ reference.year }}</td>
                    <td>{{ reference.reference_type }}</td>
                    <td><a href="/edit/{{ reference.id }}">Edit</a></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    
    </div>
    {% else %}
    <p> You are not logged in. </p>
    <a href="/login" class="linkstyle">Login</a>
    <a href="/register" class="linkstyle">Register</a>
    {% endif %}
</body>

</html>