<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Reference app</title>
</head>

<body>

    <div class="beginning">
        <h2>Welcome!</h2>
        <br>
        <b> Click a reference or add one!</b>
    </div>


    <a href="/form" class="linkstyle">Add</a>

    <div class="register">
        <h2>Register</h2>
        <a href="/login" class="linkstyle">Login</a>
        <a href="/register" class="linkstyle">Register</a>
    </div>

    <h2>Table for references</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Type</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for citate in citates %}
                <tr>
                    <td>{{ citate[3] }}</td>
                    <td>{{ citate[4] }}</td>
                    <td>{{ citate[6] }}</td>
                    <td>{{ citate[1] }}</td>
                    <td><a href="/edit/{{ citate[0] }}">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>