<!DOCTYPE html>
<link rel="stylesheet" href="static/login_register.css">

<h1>Reference app</h1>
<div class="buttons">
        <form action="/login">
            <input class="round-3" id ="real_login_bt" type="submit" value="Log in">
        </form>
        <form action="/register" >
            <input class= "round-3" id ="login_button" type="submit" value="Register">
        </form>
        <form action="/">
            <input class="round-3" id ="login_button" type="submit" value="Back to frontpage">