<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/login_register.css">
    <title>Reference app</title>
</head>
<body>
    <div class="buttons">
        <form action="/login">
            <input class="round-3" id="real_login_bt" type="submit" value="Log in">
        </form>
        <form action="/register">
            <input class="round-3" id="register_button" type="submit" value="Register">
        </form>
        <form action="/">
            <input class="round-3" id="frontpage_button" type="submit" value="Back to frontpage">
        </form>
    </div>
</body>
</html>
