<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/form.css">
  <title>Reference app</title>
</head>
<h1>Register</h1>
<body>
  <div class="doi-form">
    <form action="/register" method="post" onsubmit="return validateForm()">
      <div class="form-row">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="form-row">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="form-row">
        <label for="password_confirmation">Password Confirmation</label>
        <input type="password" name="password_confirmation" id="password_confirmation" />
      </div>
      <div class="button-container">
      <input type="submit" value="Register" formaction="/register" formmethod="post" class="button-like" >
      <a href="/login" class="button-like">Login Page</a>
      <a href="/" class="button-like">Back to frontpage</a>
      </div>
  </form>
  </div>

  <script>
    function validateForm() {
      var password = document.getElementById("password").value;
      var confirm = document.getElementById("password_confirmation").value;
      var regex = /^(?=.*[A-ZÄÖÅ])(?=.*[0-9])(?=.*[!@#$%^&*()_+])[A-Za-z0-9ÄäÖöÅå!@#$%^&*()_+]{12,}$/;
      var username = document.getElementById("username").value;

      if (!regex.test(password)) {
        alert("The password should be 12 characters long and contain at least one uppercase letter, one number and one special character.");
        return false;
      }

      if (password !== confirm) {
        alert("Password and confirmation do not match.");
        return false;
      }

      if (username.length < 3) {
        alert("Username should be at least 3 characters long.");
        return false;
      }

      return true;
    }
  </script>
</body>