<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/form.css">
  <title>Reference app</title>
</head>
<body>
  <h1>Register</h1>

  <form action="/register" method="post" onsubmit="return validateForm()">
    <!--<input type="hidden" name="csrf_token" value="{{ csrf_token }}"> -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>

    <div>
      <label for="password_confirmation">Password confirmation</label>
      <input type="password" name="password_confirmation" id="password_confirmation" />
    </div>

    <button type="submit">
      Register
    </button>
    <br>
    <button>
    <a href="/login" class="button">Login</a>
    </button >
    <button>
      <a href="/" class="button">Back to frontpage</a>
    </button>
  </form>

  <script>
    function validateForm() {
      var password = document.getElementById("password").value;
      var confirm = document.getElementById("password_confirmation").value;
      var regex = /^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*()_+])[A-Za-z0-9!@#$%^&*()_+]{12,}$/;

      if (!regex.test(password)) {
        alert("salasanan pitää olla 12 merkkiä ja sisältää ainakin yhden ison kirjaimen, yhden numeron ja yhden erikoismerkin.");
        return false;
      }

      if (password !== confirm) {
        alert("Password and confirmation do not match.");
        return false;
      }

      return true;
    }
  </script>
</body>
