body {

    margin: auto;
    max-width: 800px;
    font-size: 22px;
}

.reference {

    position: center;
    padding-top: 50px;
    width: 150px;
    height: 555px;
    background: rgb(235, 239, 255);
    display: flex;
    justify-content: left;
}

.reference .p {

    color: rgb(4, 2, 57);
}

.linkstyle {

    margin-top: 35px;
    display: inline-flex;
    padding: 10px 20px;

    border: 1px solid rgb(4, 2, 57);
    border-radius: 3px;
    background-color: solid rgb(234, 252, 234);
    color: rgb(4, 2, 57);
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
}

.linkstyle:hover {

    background-color: solid rgb(234, 252, 234);
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgb(4, 2, 57);
    }

    100% {
        box-shadow: 0 0 20px rgb(4, 2, 57);
    }
}

.beginning p {

    font-size: 28px;
    color: rgb(4, 2, 57);
}