body {
    margin: auto;
    max-width: 800px;
    font-size: 22px;
}
.reference {
    margin: auto;
    padding-top: 50px;
    max-width: 800px;
    height: 800px;
    background: rgb(235, 239, 255);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: left;
    padding: 20px;
    font: 20px Arial, sans-serif;
}

.doi-form {
    margin: auto;
    padding-top: 50px;
    max-width: 800px;
    height: 50px;
    background: rgb(235, 239, 255);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: left;
    padding: 20px;
    font: 20px Arial, sans-serif;
}

.reference .p {
    color: rgb(4, 2, 57);
}
.dropdown-select {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 100px 60px;
    border: 1px solid rgb(4, 2, 57);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(4, 2, 57);
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: auto;
    margin-top: 35px;
    margin: 0 15px; 
    font: 20px Arial, sans-serif;
}
.linkstyle, .button-like {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid rgb(4, 2, 57);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(4, 2, 57);
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: auto;
    margin-top: 35px;
    margin: 0 15px; 
    font: 20px Arial, sans-serif;
}
.button-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 25px;    
}

.linkstyle:hover, .button-like:hover {
    background-color: rgb(254, 254, 254);
    animation: glow 1s infinite alternate;
}


@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgb(4, 2, 57);
    }

    100% {
        box-shadow: 0 0 20px rgb(4, 2, 57);
    }
}

.beginning p {

    font-size: 28px;
    color: rgb(4, 2, 57);
}

.form-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; 
    align-items: center; 
}

.form-label {
    width: 100px; 
    margin-right: 10px;
}

select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white; 
    height: 38px;
}
input[type="text"],
input[type="number"],
select {
    flex: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 38px; 
    box-sizing: border-box; 
    margin-left: 10px; 
}

