body {

    margin: auto;
    max-width: 800px;
    font-size: 22px;
}

.reference {

    position: center;
    padding-top: 50px;
    width: 150px;
    height: 555px;
    background: rgb(235, 239, 255);
    display: flex;
    justify-content: left;
}

.reference .p {

    color: rgb(4, 2, 57);
}