.beginning {

    padding-top: 20px;
    padding-left: 50px;
    background: rgb(235, 239, 255);
}


.linkstyle {

    display: inline-block;
    padding: 10px 20px;

    border: 1px solid rgb(4, 2, 57);
    border-radius: 3px;
    background-color: solid rgb(234, 252, 234);
    color: rgb(4, 2, 57);
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
}

.linkstyle:hover {

    background-color: solid rgb(234, 252, 234);
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgb(4, 2, 57);
    }

    100% {
        box-shadow: 0 0 20px rgb(4, 2, 57);
    }
}

p {


    color: rgb(4, 2, 57);
    font-size: 28px;
}

b {


    color: rgb(4, 2, 57);
    font-size: 28px;
}

h2 {

    color: rgb(4, 2, 57);
    font-size: 40px;
}

.table-container {
    overflow-x: auto; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
